<div>
    <h2 translate="demoApp.actionLang.home.title">Action Langs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="action-lang.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="demoApp.actionLang.home.createLabel">
                        Create new Action Lang
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="languageCode"><span translate="demoApp.actionLang.languageCode">Language Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="value"><span translate="demoApp.actionLang.value">Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="action.name"><span translate="demoApp.actionLang.action">Action</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="actionLang in vm.actionLangs track by actionLang.id">
                    <td><a ui-sref="action-lang-detail({id:actionLang.id})">{{actionLang.id}}</a></td>
                    <td translate="{{'demoApp.Language.' + actionLang.languageCode}}">{{actionLang.languageCode}}</td>
                    <td>{{actionLang.value}}</td>
                    <td>
                        <a ui-sref="action-detail({id:actionLang.action.id})">{{actionLang.action.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="action-lang-detail({id:actionLang.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="action-lang.edit({id:actionLang.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="action-lang.delete({id:actionLang.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
