<div>
    <h2 translate="demoApp.request.home.title">Requests</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="request.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="demoApp.request.home.createLabel">
                        Create new Request
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="demoApp.request.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateRequest"><span translate="demoApp.request.dateRequest">Date Request</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="category.name"><span translate="demoApp.request.category">Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="subcategory.name"><span translate="demoApp.request.subcategory">Subcategory</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="action.name"><span translate="demoApp.request.action">Action</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="request in vm.requests track by request.id">
                    <td><a ui-sref="request-detail({id:request.id})">{{request.id}}</a></td>
                    <td>{{request.description}}</td>
                    <td>{{request.createdDate | date:'dd/MM/yy'}}</td>
                    <td>
                        <a ui-sref="category-detail({id:request.category.id})">{{request.category.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="subcategory-detail({id:request.subcategory.id})">{{request.subcategory.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="action-detail({id:request.action.id})">{{request.action.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="request-detail({id:request.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
