
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySubcategoryLabel" translate="demoApp.subcategory.home.createOrEditLabel">Create or edit a Subcategory</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.subcategory.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.subcategory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="demoApp.subcategory.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.subcategory.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="demoApp.subcategory.externalId" for="field_externalId">External Id</label>
            <input type="text" class="form-control" name="externalId" id="field_externalId"
                    ng-model="vm.subcategory.externalId"
                    required />
            <div ng-show="editForm.externalId.$invalid">
                <p class="help-block"
                    ng-show="editForm.externalId.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="demoApp.subcategory.enabled" for="field_enabled">Enabled</label>
            <input type="checkbox" class="form-control" name="enabled" id="field_enabled"
                    ng-model="vm.subcategory.enabled"
                     />
            <div ng-show="editForm.enabled.$invalid">
                <p class="help-block"
                    ng-show="editForm.enabled.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="demoApp.subcategory.action" for="field_action">Action</label>
            <select class="form-control" style='height:100px' id="field_action" multiple name="action" ng-model="vm.subcategory.actions" ng-options="action as action.name for action in vm.actions track by action.id"></select>
        </div>
        <div class="form-group">
            <label translate="demoApp.subcategory.category" for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" ng-model="vm.subcategory.category" ng-options="category as category.name for category in vm.categories track by category.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
